body::after {
    /* preloading the images to avoid the flickering in the websites */
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    content: url("../images/nike1.jpg") url("../images/blackods.jpg") url("../images/chanelperfume.jpg") url("../images/earpods2.jpg") url("../images/kettle.jpg");
}

body {
    font-size: 1rem;
    background-color: #ece4e4;
}

:root {
    --primary-color: #111;
    --secondary-color: #fff;
}

.light-theme {
    --primary-color: #fff;
    --secondary-color: #111;
}

.dark-theme {
    --primary-color: #111;
    --secondary-color: #fff;
}

select {
    border: none;
    background-color: #ece4e4;
    padding: none;
}

.header {
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    text-align: center;
}

.header1 a {
    text-decoration: underline;
    margin-right: 10px;
    color: var(--primary-color);
}

.header1 :hover {
    text-decoration: underline;
    color: #0000ff;
}

.header2 a {
    color: var(--primary-color);
    padding-left: 5px;
    text-decoration: none;
    margin-right: 10px;
}

.header2 :hover {
    color: #0000ff;
}

#search-bar {
    width: 350px;
    height: 30px;
}

div input {
    margin-right: 5px;
}

#search-button {
    height: 30px;
    padding-left: 10px;
    background-color: #ffa500;
}

.nav-bar {
    font-size: 20px;
    background-color: var(--secondary-color);
    width: 100%;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

#sendy {
    padding: 5px;
}

#icon {
    width: 25px;
}

.body1 {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    height: 400px;
}

.body1-sect1 {
    padding: 15px;
    width: 20%;
    margin: 5px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    display: inline;
}

.body1-sect1 a {
    padding-left: 10px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    color: var(--primary-color);
}

.body1-sect1 a:hover {
    text-decoration: underline;
    color: #0000ff;
}

.body1-sect2 {
    display: inline-block;
    position: relative;
    width: 60%;
    height: 450px;
    margin: 5px;
}

.text-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
    color: #ffa500;
    padding: 5px 15px;
    z-index: 1;
}

#products {
    height: 450px;
    width: 100%;
}

.body1-sect3 {
    width: 20%;
    margin: 5px;
    background-color: var(--secondary-color);
    align-items: center;
    padding-bottom: 10px;
    height: 240px;
}

.sect3-part1 a {
    padding: 5px;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: var(--primary-color);
    padding-top: 15px;
    align-items: center;
}

#sect3-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sect3-part2 img {
    width: 100%;
    height: 180px;
}

.footer1 {}

.footer2 {
    display: flex;
    background-color: #808080;
}

.footer2 div {
    margin: 50px;
}

.footer2 div ul {
    cursor: pointer;
    margin-top: 5px;
    list-style: none;
}

.footer2 div ul li:hover {
    text-decoration: underline;
}

.footer3 {}

.body2 {
    display: inline-block;
}

.body2 img {
    height: 200px;
    width: 200px;
    padding: 15px;
}

.image-wrap {
    margin-right: 8px;
    height: 200px;
    width: 200px;
    padding-top: 30px;
    display: inline-block;
    position: relative;
}

.product-text-overlay {
    text-decoration: none;
    color: #ffa500;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

#image-overlay {
    text-decoration: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 30px;
    left: 5px;
    z-index: 1;
}

#price {
    text-align: center;
    align-items: center;
    margin-top: 0;
}

.social-media img {
    margin-right: 5px;
    width: 30px;
}

.social-media a {
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 18px;
}

form input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
    display: block;
}

form {
    display: block;
    padding: 50px;
}

.login-form {
    justify-content: center;
    display: flex;
    align-items: center;
}


/* the flash sales section */

.body3-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 50px;
    background-color: #ff0000;
}

.body3-nav div {
    padding: 0 10px;
}

.flash-sales a {
    font-size: 18px;
    display: block;
}

.image-container {
    width: 100%;
    height: 250px;
    overflow-x: visible;
    display: flex;
    background-color: #fff;
}

.container {
    width: 180px;
    height: 200px;
    padding: 10px;
    display: block;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
}

.avatar-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    text-align: center;
    background-image: url("../images/nike1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#image1 {
    background-image: url("../images/blackods.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#image2 {
    background-image: url("../images/chanelperfume.jpg");
}

#image3 {
    background-image: url("../images/earpods2.jpg");
}

#image4 {
    background-image: url("../images/kettle.jpg");
}

.avatar-about-image a {
    color: #111;
    text-decoration: none;
    cursor: pointer;
}

.avatar-about-image p {
    color: 111;
    opacity: 0.5;
}


/*MOBILE VERSION*/

@media (max-width:600px) {}